.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  padding-bottom: 32px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__pUAvx {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: mkLpo4sOfoEr1L */;
}
.box___1FVib {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box___1FVib > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box___1FVib > :global(.__wab_flex-container) > *,
.box___1FVib > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___1FVib {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___1FVib > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___1FVib > :global(.__wab_flex-container) > *,
  .box___1FVib > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__vcpmy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__vcpmy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__vcpmy > :global(.__wab_flex-container) > *,
.box__vcpmy > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__jro53:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__znOwC {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box__pxCex {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__lqcOk {
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__lqcOk:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__nvy3U {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
}
.link__sbOjX {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__sbOjX:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__qhmTf {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__qhmTf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__qhmTf > :global(.__wab_flex-container) > *,
.box__qhmTf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__qhmTf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__qhmTf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__qhmTf > :global(.__wab_flex-container) > *,
  .box__qhmTf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__t92M3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__t92M3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__t92M3 > :global(.__wab_flex-container) > *,
.box__t92M3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__s5Vkn {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__nKkM2 {
  font-size: 14px;
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
}
.root .link__nKkM2:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__jSzs8 {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__jSzs8:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___2Sw3O {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link___2Sw3O:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__m35Ue {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__m35Ue:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__yKtgI {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__yKtgI:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__erTkN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__erTkN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__erTkN > :global(.__wab_flex-container) > *,
.box__erTkN > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__zoGky {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__ylE0R {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__ylE0R:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__e1X1R {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__e1X1R:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__f7YR {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__f7YR:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__xet63 {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__xet63:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ednI {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__ednI:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__jyfTl {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__jyfTl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__jyfTl > :global(.__wab_flex-container) > *,
.box__jyfTl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__okUe2 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__tlWep {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__tlWep:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__bh0MH {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__bh0MH:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__fBbQu {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__fBbQu:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__hf6Vt {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__hf6Vt:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___9TEvl {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link___9TEvl:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box___579Gq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box___579Gq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___579Gq > :global(.__wab_flex-container) > *,
.box___579Gq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__uspVl {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.box___5AGi {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
}
.box__vvz1E {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 0px;
}
.box___7OVn5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1px;
  height: 16px;
  flex-shrink: 0;
  background: rgb(228, 230, 235);
}
.button {
  position: relative;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-style: none;
}
.svg__vSbdv {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  flex-shrink: 0;
}
.box__zM7Kb {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: mkLpo4sOfoEr1L */;
}
.box__o1EcS {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__o1EcS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__o1EcS {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__o1EcS > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__o1EcS > :global(.__wab_flex-container) > *,
  .box__o1EcS > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__uGsp0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__dItl2 {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  height: auto;
  font-size: 14px;
}
.root .link__dItl2:hover {
  text-decoration-line: underline;
}
.link__iXxQg {
  position: relative;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  font-size: 14px;
}
.root .link__iXxQg:hover {
  text-decoration-line: underline;
}
.box__dz0O1 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: avkWnVhB-dmgI9 */;
  display: inline-block;
}
.box__z8Nc5 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__z8Nc5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__z8Nc5 > :global(.__wab_flex-container) > *,
.box__z8Nc5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__mZaCb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fk60Z {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__fk60Z:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__eoNkf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__wBv2E {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__wBv2E:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__k0JqE:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___6Ruck {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___6Ruck:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
