.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__oQCrw {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.box__pln6 {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.box__pln6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__pln6 > :global(.__wab_flex-container) > *,
.box__pln6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section___6JNqZ:global(.__wab_instance) {
  position: relative;
}
.box__v7Mr {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__v7Mr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__v7Mr > :global(.__wab_flex-container) > *,
.box__v7Mr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__v7Mr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__v7Mr > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__v7Mr > :global(.__wab_flex-container) > *,
  .box__v7Mr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.box___164Ay {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.box___164Ay > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box___164Ay > :global(.__wab_flex-container) > *,
.box___164Ay > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___164Ay {
    width: 100%;
    min-width: 0;
  }
}
.box__w7SMq {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.box__vfpNk {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__obufi:global(.__wab_instance) {
  position: relative;
}
.svg__pk9G0 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__sxgtY {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__gsMqB:global(.__wab_instance) {
  position: relative;
}
.svg__mos1F {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__fd6Aa {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wFlBd:global(.__wab_instance) {
  position: relative;
}
.svg__sxzrh {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__y1Zji {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box__ePOin {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ePOin {
    width: 100%;
    min-width: 0;
  }
}
.img___0N9H6 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__vTutK {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.box__faPw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px 0px;
}
.box__dUxxW {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  width: 100%;
  bottom: 0%;
  height: auto;
  background: rgb(5, 5, 5);
}
.box__kSb9L {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.box__yXr76 {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.section___9XT9L:global(.__wab_instance) {
  align-self: center;
}
.box__e93Dy {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px;
  min-width: 0;
}
.box__e93Dy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__e93Dy > :global(.__wab_flex-container) > *,
.box__e93Dy > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__tSfAy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dyD4S {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: q0_KiTSPJ5ORGN */;
}
.svg__z3RQ5 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__edMjF:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___65Kb {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: q0_KiTSPJ5ORGN */;
}
.svg__c1JAz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__lkbB:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bfXdu {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: q0_KiTSPJ5ORGN */;
}
.svg__sq7CZ {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ukZl3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gav5J {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: q0_KiTSPJ5ORGN */;
}
.svg__bv9Is {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__oimo6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dw8R2 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: q0_KiTSPJ5ORGN */;
}
.svg___14V0C {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wfS5J:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__t6HsX {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: q0_KiTSPJ5ORGN */;
}
.svg__hmLmW {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box__tDs4B {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: mkLpo4sOfoEr1L */;
}
.box___8C1Hh {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box___35Wy7 {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.box___35Wy7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box___35Wy7 > :global(.__wab_flex-container) > *,
.box___35Wy7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.section__dLm7J:global(.__wab_instance) {
  position: relative;
}
.box__gMy9S {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__gMy9S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__gMy9S > :global(.__wab_flex-container) > *,
.box__gMy9S > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__jalu9 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__v3Wq8 {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__fPt7F {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__bUPhY {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg___15Lbk {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
