.root:global(.__wab_instance) {
  position: relative;
}
.box__dfv3C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box___5V2Ng {
  display: flex;
  flex-direction: column;
}
.box___5V2Ng > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___5V2Ng > :global(.__wab_flex-container) > *,
.box___5V2Ng > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.slotName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__vGKt {
  font-size: 48px;
}
.box__zHzOy {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__zHzOy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__zHzOy > :global(.__wab_flex-container) > *,
.box__zHzOy > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__fJbcl:global(.__wab_instance) {
  position: relative;
}
.bullet__vKDwj:global(.__wab_instance) {
  position: relative;
}
.bullet__u7Wzr:global(.__wab_instance) {
  position: relative;
}
.box__cDtmj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.svg__b8S4Q {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
